In [2]:
mySet = {}
mySet
type(mySet)

dict

In [3]:
mySet = set()
type(mySet)

set

In [4]:
myList = list()
type(myList)

list

In [12]:
myList = {100,200,300,400,500}
myList
print(myList)

{400, 100, 500, 200, 300}

In [10]:
mySet = {200,3,1,20,10,10}
mySet

{1, 3, 10, 20, 200}

In [14]:
mySet = {200,3,1,20,10,10}
mySet.add(30)
mySet

{1, 3, 10, 20, 30, 200}

In [15]:
mySet = {200,3,1,20,10,10}
mySet.add(30,30,50)
mySet

TypeError: set.add() takes exactly one argument (3 given)

In [16]:
mySet = {200,3,1,20,10,10}
addSet = {30,30,50}
mySet.add(addSet)
mySet

TypeError: unhashable type: 'set'

In [19]:
mySet = {200,3,1,20,10,10}
mySetCopy = mySet.copy()
print(mySetCopy)
print(id(mySet))
print(id(mySetCopy))
mySetCopy[2:]

{1, 3, 20, 200, 10}
2562206805440
2562206794016

TypeError: 'set' object is not subscriptable

In [20]:
mySet = {200,3,1,20,10,10}
mySet[0]=3

TypeError: 'set' object does not support item assignment

In [22]:
mySet = {200,3,1,20,10,10}
mySet.pop()
mySet

{3, 10, 20, 200}

In [23]:
mySet = {200,3,1,20,10,10}
mySet.pop(3)

TypeError: set.pop() takes no arguments (1 given)

In [25]:
mySet = {200,3,1,20,10,10}
mySet.remove(200)
mySet

{1, 3, 10, 20}

In [27]:
mySet = {200,3,1,20,10,10}
mySet.remove(5000)

KeyError: 5000

In [30]:
mySet = {200,3,1,20,10,10}
mySet.discard(5000)
mySet

{1, 3, 10, 20, 200}

In [31]:
mySet = {200,3,1,20,10,10}
mySet.discard(200)
mySet

{1, 3, 10, 20}

In [2]:
mySet = {2,3,'hello',2+5j,True, "OK"}
type(mySet)
mySet

{(2+5j), 2, 3, 'OK', True, 'hello'}

In [7]:
for i in (mySet):
    print(i)

True
2
3
(2+5j)
OK
hello

In [8]:
for i in enumerate(mySet):
    print(i)

(0, True)
(1, 2)
(2, 3)
(3, (2+5j))
(4, 'OK')
(5, 'hello')

In [11]:
for i in mySet:
    print(type(i))

<class 'bool'>
<class 'int'>
<class 'int'>
<class 'complex'>
<class 'str'>
<class 'str'>

In [16]:
mySet = {2,3,'hello',2+5j,True, "OK"}
mySet.update((4,700,1000))
mySet

{(2+5j), 1000, 2, 3, 4, 700, 'OK', True, 'hello'}

In [17]:
copySet = mySet.copy()

In [19]:
A = {1,2,3,4,5}
B = {6,7,8}
C = {9,10}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
A = {1,2,3,4,5}
B = {6,7,8}
C = {9,10}

B.union(A,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
A = {1,2,3,4,5}
B = {6,7,8}
C = {9,10}

B.union(A,C,56)

TypeError: 'int' object is not iterable

In [23]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
B|C|A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
A = {1,2,3,4,5}
B = {6,7,8,4,1}
C = {9,10}

A & B

{1, 4}

In [32]:
A = {1,2,3,4,5}
B = {6,7,8,4,1}
C = {9,10}

# Empty Set
B & C

set()

In [34]:
A = {1,2,3,4,5,9}
B = {6,7,8,4,1,9}
C = {9,10}

# Empty Set
A & B & C

{9}

In [35]:
A = {1,2,3,4,5,9}
B = {6,7,8,4,1,9}
C = {9,10}
A.intersection(B,C)

{9}

In [38]:
A = {1,2,3,4,99,67,5,9}
B = {6,7,8,4,1,9}
C = {9,10}
A-B

{2, 3, 5, 67, 99}

In [37]:
A = {1,2,3,4,5,9}
B = {6,7,8,4,1,9}
C = {9,10}

B-C

{1, 4, 6, 7, 8}

In [39]:
A = {1,2,3,4,5,9}
B = {6,7,8,4,1,9}
C = {9,10}

A.symmetric_difference(B)

{2, 3, 5, 6, 7, 8}

In [40]:
A = {1,2,3,4,5,9}
B = {6,7,8,4,1,9}
C = {9,10}

B.symmetric_difference(C)

{1, 4, 6, 7, 8, 10}

In [42]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

A1.issuperset(B1)

True

In [43]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

A1.issuperset(B1)

True

In [44]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

B1.issuperset(A1)

False

In [46]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

B1.issubset(A1)

True

In [47]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

C1.isdisjoint(A1)

True

In [48]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

sum(A1)

45

In [49]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

for i in enumerate(A1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)

In [50]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

list[enumerate(A1)]

list[<enumerate object at 0x0000029054709080>]